[submodule "fm-v2.x"]
	path = fm-v2.x
	url = https://github.com/fluentmigrator/fluentmigrator
	branch = archive/2.x
[submodule "fm-v3.x"]
	path = fm-v3.x
	url = https://github.com/fluentmigrator/fluentmigrator
	branch = archive/3.x
[submodule "fm-v4.x"]
	path = fm-v4.x
	url = https://github.com/fluentmigrator/fluentmigrator
	branch = archive/4.x
[submodule "fm-v5.x"]
	path = fm-v5.x
	url = https://github.com/fluentmigrator/fluentmigrator
	branch = main
