###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site
fm-v*/
######################
# nuget local tools  #
######################
# >= 6.3.1.1
nuget.exe
docfx.console/**